# Dependencies
node_modules/
.pnpm-store/

# Production build output
dist/

# Project Specific Errors
ts-errors.txt
ts-errors-utf8.txt
*.log

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS Files
.DS_Store
Thumbs.db
Desktop.ini